/* Base styles */
.container {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Vertically center the items (you can change it to 'flex-start' for top alignment) */
  /* Add space on the left side */
}

.body {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform-style: preserve-3d;
  margin-top: 25px;
}

.textContainer {
  position: relative;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  margin: 10px;
}

/* Responsive Font Sizes */
.textContainer p {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  transition: all 0.4s;
  color: #d8d8d8;
  line-height: 45px;
}

.textContainer .secondary {
  transform: rotateX(-90deg) translateY(3.5vw);
  transform-origin: bottom center;
  position: absolute;
  top: 0;
  color: black;
  opacity: 0;
}

.textContainer:hover {
  transform: rotateX(90deg);
}

.textContainer:hover .secondary {
  opacity: 1;
}

.textContainer:hover .primary {
  transform: translateY(-100%);
  opacity: 0;
}

/* Media Queries for Responsiveness */

/* Small screens (mobile devices) */
@media (max-width: 640px) {
  .textContainer p {
    font-size: 55px; /* Increase the text size on mobile screens */
    line-height: 50px;
  }

  .body {
    margin-top: 5px;
  }
}

/* Medium screens (tablets) */
@media (min-width: 641px) and (max-width: 768px) {
  .textContainer p {
    font-size: 65px; /* Adjust font size for tablets */
    line-height: 60px;
  }

  .body {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

/* Large screens (laptops and desktops) */
@media (min-width: 1024px) {
  .textContainer p {
    font-size: 90px; /* Adjust font size for larger screens */
    line-height: 80px;
  }

  .body {
    margin-top: 90px;
  }
}
